body {
  font-family: sans-serif;
  font-weight: bold;
}


.grid-container {
  padding: 0 2em 2em 2em;
  grid-gap: 10px;
  display: grid;
  border: 2px solid #000000;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  background-color: black;
  justify-items: center;
  align-items: center;
  grid-template-areas:
              "navbar navbar"
              "splash splash"
              "listimage1 description"
              "listimage2 description2"
              "listimage3 description3"
              "details details"
              "footer footer";
}


.nav {grid-area: navbar;
border: 2px #000000;
}
.splash {grid-area: splash;
background-color: white;}
.item3 {grid-area: listimage1; }
.item4 {grid-area: description; }
.item5 {grid-area: listimage2; }
.item6 {grid-area: description2; }
.item7 {grid-area: listimage3; }
.item8 {grid-area: description3; }
.item9 {grid-area: details; }
.item10 {grid-area: footer; }

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
