:root {
  --black : #000;
}

footer {
  text-align: center;
  padding: 0;
  position: fixed;
  min-width: 100%;
  bottom: 0;
  background-color: black;
  color: #ffffff;
}

/*--
Nav Styles--*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: #ffffff;
}

/*--
Grid Styles--*/
main {
  padding: 0 2em 2em 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
  align-items: center;
  grid-template-areas:
            "head head head"
            "one two three"
            "image1 blog1 blog1"
            "image2 blog2 blog2"
            "image3 blog3 blog3"
            "over over over";
}

header {grid-area: head}

.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.overview {grid-area: over;}
#image1 {grid-area: image1;}
#image2 {grid-area: image2;}
#image3 {grid-area: image3;}
.blog1 {grid-area: blog1;}
.blog2 {grid-area: blog2;}
.blog3 {grid-area: blog3;}
