:root {
  --black : #1A1918;
  --orange : rgb(254,158,48);
  --blue : rgb(6,186,205);
  --ltgrey : #F1E8DE;

background-color: var(--ltgrey);
}


h1, h2, h3, nav {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
}

p, ul {
  font-family: 'Open Sans', sans-serif;
}

nav, footer {
  background-color: var(--black);
  color: var(--ltgrey);
}

footer {
  text-align: center;
  padding: 1em;
  min-width: 100%;
  bottom: 0;
}

.image img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 35px;
  padding-bottom: 35px;
}

#image2 img {
  padding-top: 20px;
  padding-top: 20px;
}

#image3 img {
  padding: 0;
}

/*--
Nav Styles--*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  padding: 1em;
}

nav a:link, nav a:visited {
  color: var(--orange);
  text-decoration: none;
  transition: all .3s ease-in-out;
}
nav a:hover, nav a:active  {
  color: var(--blue);
  text-decoration: none;
}

/*--
Grid Styles--*/
main {
  padding: 0 2em 2em 2em;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
            "head head head"
            "one two three"
            "image1 blog1 blog1"
            "image2 blog2 blog2"
            "image3 blog3 blog3";
}

header {grid-area: head;
text-align: center;}
header img {max-width: 100%;
  height: 450px;
  width: 100%;
  object-fit: none;
  object-position: center;
}

.blog1, .blog2, #image1, #image2 {
  border-bottom-style: solid;
  border-width: medium;
  border-color: var(--blue)
}

.one {grid-area: one;
text-align: center;
border-style: solid;
border-width: medium;
padding-left: 0.5em;}
.two {grid-area: two;
text-align: center;
border-style: solid;
border-width: medium;
padding-left: 0.5em;}
.three {grid-area: three;
text-align: center;
border-style: solid;
border-width: medium;
padding-left: 0.5em;}
.overview {grid-area: over;
text-align: center;
border-style: solid;
border-width: medium;}
#image1 {grid-area: image1;}
#image2 {grid-area: image2;}
#image3 {grid-area: image3;}
.blog1 {grid-area: blog1;}
.blog2 {grid-area: blog2;}
.blog3 {grid-area: blog3;}

p {
  text-align: left;
}

footer p {
  text-align: center;
}
